<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.almond.jwt_spring.mapper.UserMapper">
    <insert id="join" parameterType="com.almond.jwt_spring.dto.User">
        INSERT INTO user (username,password,email,role)
        VALUES (#{username},#{password},#{email},#{role})
    </insert>
    <select id="findByUsername" parameterType="String" resultType="com.almond.jwt_spring.dto.User">
        SELECT username, password, email, role, create_date FROM user WHERE username = #{username}
    </select>
</mapper>